{% extends LinuxCNCTemplate.html %}

{% block definitions %}
    {% set name = 'control' %}
{%end%}

{% block label %}Control{% end %}

{% block custom_header %}
{% end %}

{% block custom_body %}
        <div id="top_button_bar">
        <button type="button" id="estop_off" value="E_Stop_Off" onclick="E_Stop_OFF();">E-Stop OFF</button>
        <button type="button" id="machine_on" value="Machine_On" onclick="Machine_ON();">Machine ON</button>
        <button type="button" id="home_set" value="Home_Set" onclick="Go_Home();">Home Axis (All)</button>
        <button type="button" id="open_3d_file" value="Open_3D_File" onclick="Open_3D_File();">3Dtest File</button>
        <button type="button" id="play_gcodes" value="Play_Gcodes" onclick="Play_Gcodes();">Play</button>
        <button type="button" id="step_gcodes" value="Step_Gcodes" onclick="Step_Gcodes();">Step</button>
        <button type="button" id="pause_gcodes" value="Pause_Gcodes" onclick="Pause_Gcodes();">Pause</button>
        <button type="button" id="resume_gcodes" value="Resume_Gcodes" onclick="Resume_Gcodes();">Resume</button>
        <button type="button" id="stop_gcodes" value="Stop_Gcodes" onclick="Stop_Gcodes();">Stop</button>
<!--        <form enctype="multipart/form-data" method="post">--->
            <p>G codes file <input type="file" name="gcodes" accept="*.ngc">
        <button type="button" id="open_file" value="Open_File" onclick="Open_3D_File();">Load</button>
<!--            <input type="submit" value="Load"></p>
        </form>-->
        </div>
        <!-- interface -->
        <div style="text-align:left">
            <p>X: <span id="actual_pos_x">0.0</span>&nbsp;[mm]<br>
               Y: <span id="actual_pos_y">0.0</span>&nbsp;[mm]<br>
               Z: <span id="actual_pos_z">0.0</span>&nbsp;[mm]</p>
            <p>DTG X: <span id="dtg_pos_x">0.0</span>&nbsp;[mm]<br>
               DTG Y: <span id="dtg_pos_y">0.0</span>&nbsp;[mm]<br>
               DTG Z: <span id="dtg_pos_z">0.0</span>&nbsp;[mm]</p>
        </div>
<!--        
        <div style="text-align:center">        
            <div style="display:inline-block; width:70%; text-align:center">
                <div style="display:inline-block; width:100%; text-align:center">
                    <br />
                    X:  <input id="valx" type="text" value="0.0" disabled />
                        <input id="homex" type="button" value="Home" />
                        <input id="negx" type="button" value="-" />
                        <input id="posx" type="button" value="+" />
                        <br />
                    Y:  <input id="valy" type="text" value="0.0" disabled />
                        <input id="homey" type="button" value="Home" />
                        <input id="negy" type="button" value="-" />
                        <input id="posy" type="button" value="+" />
                        <br />
                    Z:  <input id="valz" type="text" value="0.0" disabled />
                        <input id="homez" type="button" value="Home" />
                        <input id="negz" type="button" value="-" />
                        <input id="posz" type="button" value="+" />
                        <br />
                </div>
                <br />
            </div>
        </div>
-->
<hr>
<p>G codes file content:
</p>
<hr>
<p>Current LinuxCNC Status: <span id="LinuxCNCRunStatus">WebServer not available.</span></p>
{% end %}
